.container{
    width: 50%;
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(104, 100, 100);
    font-weight: bold;
    border-radius: 5px;
    padding: 40px;
    margin: 0;
}

.title{
    display: flex;
    justify-items: left;
    color: #003B70;
    font-size: 30px;
}

.containerInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
}